doctype
html
    head
        meta(name='1111')
    script.
        window.onload = function () {
            console.log(1111)
        }
    // [if].
        fafafasfa
        fafafsa
        fafafs
        afafs
    body
        ul(id='a',class='a')
            li#j.a1 adasdadadsas
            li(title='dddd') adasdadadsas
            li= a+b
        ol
            - for(var i=0;i<arr.length;i++)
             li= 'nini'+arr[i]
        ol#a1
            - arr.forEach((item) => {
              li= item
            - })
        ol#a2
            for item in arr
                li= item