<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>管理员登陆</title>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <div class="panel panel-default" style="width:400px; margin:100px auto 0">
      <div class="panel-heading">
        <h3 class="panel-title">登陆</h3>
      </div>
      <div class="panel-body">
        <% if(error_msg!=''){ %>
        <div class="alert alert-danger" id="div_alert">
          <%=error_msg%>
        </div>
        <script>
        setTimeout(function (){
          document.getElementById('div_alert').style.display='none';
        }, 3000);
        </script>
        <% } %>
        <form class="form-horizontal" action="/admin/login?ref=<%=ref%>" method="post">
          <div class="form-group">
            <label for="username" class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名...">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-3 control-label">密码</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码...">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
              <button type="submit" class="btn btn-primary">登陆</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
