<div id="head">
    <% head.forEach((item)=>{ -%>
    <span><%= item %></span>
    <% }) -%>
</div>

<script>
  document.getElementById('head').addEventListener('click',function () {
      alert()
  })


</script>