body{
     background: url('../img/WechatImg.jpeg');
 }

#div{
    width: 200px;
    height: 200px;
    border:1px solid black;
    transform: rotate(0deg);
}
#div:hover {
    transform: rotate(90deg);
    transition: 1s all ease;
}